OPENAI_API_KEY=sua_chave_openai_aqui
OPENAI_MODEL_ID=ft:gpt-4o-mini-2024-07-18:personal:capivara-20:DQQycKrc
EVOLUTION_API_URL=https://evolution-api-production-06d2.up.railway.app
EVOLUTION_API_KEY=sua_chave_evolution_aqui
EVOLUTION_INSTANCE_NAME=capivara